@media (min-width: 768px) {
    .nav-menu .navbar-expand-md .navbar-nav .nav-link {
        padding-right: 1.9rem;
        padding-left: 1.9rem;
    }
}

@media (max-width: 991px) {}

@media (max-width: 767px) {
    .logi-des {
        position: relative;
        width: 100%;
    }

    .search-container .form-select {
        margin-bottom: 20px;
        width: 100%;
    }

    .nav-menu .min-nav {
        background: #dadada;
        padding: 10px 20px;
        position: absolute;
        right: -150px;
        top: 80px;
        transition: all .2s;
        width: 190px;
        z-index: 11;
    }

    .nav-menu .min-nav.show {
        right: 0;
        transition: all .2s;
    }
    .nav-menu .nav_a {
        align-items: start;
    }
    .sea{
        display: flex;
        flex-wrap: wrap;
    }
    #searchform {
      
        max-width: inherit; 
    }
}

@media (max-width: 567px) {
    .logi-des img {
        width: 100%;
    }
}