body,
html {
    margin: 0;
    padding: 0;
    font-family: "f1" !important;
    /* overflow-x: hidden; */
}

/* font */
@font-face {
    font-family: "f1";
    src: url("../fonts/Euclid\ Circular\ A\ Regular.ttf");
}

@font-face {
    font-family: "f2";
    src: url("../fonts/Euclid\ Circular\ A\ Medium.ttf");
}

@font-face {
    font-family: "f3";
    src: url("../fonts/Euclid\ Circular\ A\ SemiBold.ttf");
}

/* font end */
h1,
h2,
h3,
h4,
h5 {
    font-family: "f3";
}

p {
    font-size: 14px;
}

a {
    text-decoration: none !important;
    color: #000;
}

ul {
    list-style: none !important;
    padding: 0 !important;
    margin: 0 !important;
}

.w-90 {
    width: 90%;
    margin: auto;
}

.w-50 {
    width: 50% !important;
    margin: auto;
}

.w-95 {
    width: 95%;
    margin: auto;
}

.w-80 {
    width: 80%;
    margin: auto;
}

.w-70 {
    width: 70%;
    margin: auto;
}

/* // common design // */
.d-flex-wrap {
    display: flex;
    flex-wrap: wrap;
}

.d-flex-al {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.d-flex-as {
    display: flex;
    flex-wrap: wrap;
    align-items: start;
}
.d-flex-ae {
    display: flex;
    flex-wrap: wrap;
    align-items: end;
}

.d-flex-jc {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.d-flex-jb {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.d-flex-al-jc {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.d-flex-al-jb {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

/* // common design end // */
/* // button design star // */
.btn-des {
    background: #008DD2;
    color: #fff !important;
    border-radius: 7px;
    padding: 8px 18px;
    transition: .3s all;
    border: 0;
    font-size: 15px;
    box-shadow: 0 3px 10px #008dd13d;
    font-family: "f2";
}
.reg-btn {
    background: #d20012;
    color: #fff !important;
    border-radius: 7px;
    padding: 8px 18px;
    transition: .3s all;
    border: 0;
    font-size: 15px;
    box-shadow: 0 3px 10px #008dd13d;
    font-family: "f2";
}

.btn-des:hover {
    background-color: #0278B3;
    transform: translateY(-2px);
    transition: 0.2s;
}

.clse_btn {
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
    background: #008DD2;
    width: 25px;
    height: 25px;
    z-index: 1;
    color: #fff;
}

/* // button design end // */
/* form design */
.form-control,
.form-select {
    padding: 10px 12px !important;
    font-size: 15px !important;
    border: 1px solid #008dd129 !important;
    box-shadow: 0 7px 20px #008dd11a;
}

.form-control:focus,
.form-select:focus {
    color: #212529;
    background-color: #fff;
    border: 1px solid #008dd129 !important;
    box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 0%) !important;
}

/* form design end */
/* navbar design */
.nav-menu {
    background: #F3F6FF;
    border-bottom: 1px solid #00000014;
}

.nav-menu img {
    width: 120px;
}

.nav-menu .nav_a {
    align-items: center;
}

.nav-menu .nav_a .nav-link {
    color: #000;
    font-size: 15px;
}

.nav_a .nav-link.active {
    color: #008DD2 !important;
}

/* navbar design end */
/* footer design */
footer {
    background: #F5F5F5;
    padding: 10px;
}

.footer-design img {
    width: 120px;
}

.footer-design .play-store img {
    margin: 5px;
}

.footer-design p {
    font-size: 15px;
    line-height: 1.7;
    margin-top: 15px;
    opacity: .7;
}

.footer-design h5 {
    color: #008DD2;
}

.footer-design ul li {
    margin-right: 35px;
    margin-top: 10px;
}

.footer-design ul li a {
    color: #000 !important;
}

/* footer design end*/
/* login design */
.login-page {
    height: 100vh;
}

.login-page .login-ses {
    height: 100%;
    width: 100%;
}

.login-page .logi-des {
    background: url(../img/login-bg.png) no-repeat;
    background-size: cover;
    height: 100%;
    left: 0;
    padding: 100px 50px;
    position: fixed;
    top: 0;
    width: 45%;
}

.logi-des .logo-design img {
    width: 140px;
    margin-bottom: 30px;
}

.logi-des .logo-design h4 {
    color: #008DD2;
    margin-bottom: 30px;
}

.logi-des .logo-design h5 {
    color: #000;
}

.logi-des .login-imgs {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.login-page .login-content h3 {
    border-bottom: 1px solid #d7e1dc;
    margin-bottom: 30px;
    padding-bottom: 15px;
    position: relative;
    text-align: center;
}

.login-page .login-content h3::before {
    background-color: #008DD2;
    content: "";
    height: 3px;
    width: 50px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    bottom: -2px;
}

.login-content .nav-link img {
    width: 45px;
    margin-right: 8px;
}

.login-content .nav-item {
    margin: 0 10px;
}

.login-content .nav-link {
    background-color: #Fff;
    box-shadow: 0 7px 20px #008dd129;
    color: #000;
}

.login-content .nav-link.active {
    background-color: #008DD2 !important;
    color: #000;
}

.login-content .nav-link.active img {
    filter: invert(1);
}

.login-content .password-container {
    position: relative;
}

.login-content .fa-eye {
    position: absolute;
    top: 30%;
    right: 3%;
    cursor: pointer;
    color: #008DD2;
}


.login-content h6 a {
    color: #008DD2;
    font-size: 15px;
}

.login-content h6 {
    font-family: "f2";
}

.login-content .btn-des {
    width: 100%;
    padding: 10px 12px !important;
    background: #008DD2 !important;
}

/* login design end */
/* home page design */
.banner-design {
    padding: 60px 20px;
    background: #f3f6ff;
}

.banner-design .banr-right img {
    width: 100%;
    height: auto;
}

.banner-design .baner-left h6 {
    color: #008DD2;
}

.search-container .form-control {
    padding: 15px 20px !important;
}

.search-container .form-select {
    width: 25%;
    font-family: "f1";
}

.search-container .btn-sea {
    position: absolute;
    right: 11px;
    top: 7px;
    padding: 8px 15px;
    font-size: 17px;
    border: none;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    background: #008DD2 !important;
}

#searchform {
    display: block;
    /* margin: 0 auto; */
    width: 100%;
    max-width: 500px;
    position: relative;
}

.navbar-toggler {
    background-color: #008DD2 !important;
    color: #fff !important;
}

/* home page design end*/
/* Job Featured */
.title-design h2 {
    color: #008DD2;
}

.featur-job {
    background: #F0F8FD;
    padding: 20px;
}

.featur-job .img-bg img {
    padding: 10px;
    width: 100% !important;
    /* height: 70px; */
    background: #fff;
}

.featur-job .job-comp p {
    opacity: .7;
}

.icon-det a {
    color: #000;
}

.icon-det span {
    color: #008DD2;
}

.icon-det h6 {
    margin: 0;
    padding: 0 10px;
    font-size: 14px;
}

.featur-job .icon-det p {
    margin: 0;
    padding: 0 10px;
    font-size: 14px;
}

.featur-job .skils-det p {
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    line-height: 1.6;
}

.featur-job .skils-det li {
    margin: 5px;
    background: #fff;
    padding: 3px 11px;
    border-radius: 12px;
    font-size: 12px;

}

/* Job Featured end */
/* find job design */
.find-job img {
    width: 100%;
    height: auto;
}

.find-job .find-content h6 {
    color: #008DD2;
}

.find-job .find-content p {
    line-height: 2;
}

/* find job design end */
/* blog design */
.cou_card {
    background: #fff;
    padding: 10px;
    border: 1px solid #ece8e8;
}

.blog-page .cou_card {
    box-shadow: 0 3px 10px #008dd13d;
}

.cou_card h6,
.cou_card span {
    margin: 0;
    opacity: .7;
    font-size: 14px;
    padding-left: 5px;
}

.cou_card p {
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    line-height: 1.6;
}

.blog-bg {
    background: #ECEDF2;
    padding: 25px;
}

.cou_card img {
    width: 100%;
    height: auto;
}

.cou_card:hover img {
    transform: scale(1.07);
}

.cou_card:hover h5 {
    color: #008DD2;
}

.cou_card .cou_img {
    overflow: hidden;
}

.cou_card .cou_img img {
    transition: all 0.6s ease-in-out 0s;
    border-radius: 10px;
}

/* blog design end */
/* recuirement */
.requit-bg {
    background: #eff3fc;
    border-radius: 10px;
    overflow: hidden;
}

.requit-bg .rec-conts img {
    width: 75%;
}

.requit-bg .rec-conts {
    text-align: end;
}

/* recuirement end */
/* About Us */

.ban_imgg {
    position: relative;
}

.ban_imgg h5 {
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    left: 0;
    color: #fff;
    text-transform: uppercase;
    font-size: 30px;
}

/* page banner ends */
.about-page .abou-img img {
    width: 100%;
    height: auto;
}

.about-page .about-img h6 {
    color: #008DD2;
}

.about-page .about-img p {
    text-align: justify;
    line-height: 2;
}

.recuit-bg .recuit-design img {
    width: 100%;
    height: auto;
}

.recuit-bg {
    background: #f3f6ff;
    border-radius: 10px;
    padding: 10px;
}

.our-miss img {
    width: 80px;
    margin: 10px auto;
}

.our-miss h5 {
    text-transform: capitalize;
}

.our-miss p {
    line-height: 1.8;
    opacity: .8;
}

/* About Us end */
/* blog design */
.blog-view h6 {
    margin: 0;
    padding-left: 3px;
}

.blog-view p {
    text-align: justify;
}

.sidebar-blog img {
    width: 100%;
}

.sidebar-blog h5 {
    font-size: 17px;
    color: #000;
}

.sidebar-blog {
    padding: 20px;
    box-shadow: 0px 10px 20px rgb(48 124 255 / 15%);
    border-radius: 5px;
}

.date-color {
    color: #000;
}

.post-sticky {
    position: sticky;
    top: 0;
}

.border-design {
    border-bottom: 1px solid #9e9e9e66;
}

.border-design:last-child {
    border-bottom: 0px solid #9e9e9e66;
}

/* blog design end */
/* job */
.banner-designs {
    background: url(../img/ban-img.jpg) no-repeat;
    background-size: cover;
    height: 100%;
    padding: 70px 20px;
}

/* job end */
/* job details   */
.job-detail .job-content h4 {
    border-bottom: 1px solid #d7e1dc;
    margin-bottom: 30px;
    padding-bottom: 15px;
    position: relative;
}

.job-detail .job-content h4::before {
    background-color: #008DD2;
    content: "";
    height: 3px;
    width: 50px;
    position: absolute;
    left: 0%;
    bottom: -2px;
}

.job-detail .job-content p {
    text-align: justify;
    line-height: 2;
}

.job-detail .job-over li {
    display: flex;
    align-items: start;
    margin: 10px 0;
}

.job-detail .job-content li span {
    color: #008DD2;
    font-size: 35px;
}

.job-content .icon-det h6 {
    font-family: "f2";
    font-size: 16px;
}

.job-content .icon-det p {
    opacity: .7;
    font-size: 13px;
}

.job-content .con-det li {
    margin: 10px 0;

}

.bl_en {
    background: #dee6ff;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
}

/* job details end */
/* faq */
.img-faq img {
    border-radius: 0 50px 0 50px;
}

.accordion-button:focus {
    border-color: transparent;
    box-shadow: 0 0 0 !important;
}

.accordion-button {
    border: 1px solid #00000024;
}

/* faq end */
/* register */
.form-des .from-lab {
    margin: 5px 0;
    font-family: "f2";
}



.page-nation li,
.page-nations li {
    display: inline-block;
    margin-right: 5px;
}

.page-nation li a,
.page-nations li a {
    color: #666;
    padding: 5px 10px;
    text-decoration: none;
    border: 1px solid #EEE;
    background-color: #FFF;
    box-shadow: 0px 0px 10px 0px #EEE;
}

.page-nation .current,
.page-nations .currents {
    color: #FFF;
    background-color: #008DD2;
    border-color: #008DD2;
}

.page-nation .prev.current,
.page-nation .next.current,
.page-nations .prev.currents,
.page-nations .next.currents {
    background: #0278B3;
}


/* register end */
/* login-dropdown */
.dropdown img {

    width: 45px;
    height: 45px;
    background: #0278B3;
    border-radius: 100%;
    padding: 5px;

}

/* login-dropdown end */
/* dashboard */
.dash-board {
    box-shadow: 0 3px 10px #008dd13d;
    background: #fff;
    padding: 20px 15px;
    border-radius: 10px;
    position: sticky;
    top: 0;
}

.dash-board li {
    margin: 10px 0;
}

.dash-board li a {
    display: flex;
    align-items: center;
    color: #000 !important;
}

.dash-board li a span {
    margin: 0 10px 0 0;
}

.dash-board img {
    width: 100%;
    background: #0278b3;
    border-radius: 10px;
    padding: 10px;
    /* height: 80px; */
}

.dash-board h6 {
    font-size: 18px;
    font-family: "f2";
}

.dash-board .nav-link.active,
.profile-design .nav-link.active,
.tab-design .nav-link.active {
    background-color: rgb(25 103 210 / 10%) !important;
    color:
        #0278b3 !important;
}

.profile-design .nav-link,
.tab-design .nav-link {
    color:
        #000 !important;
}

.apli-design .apl-count {
    border: 1px solid #ECEDF2;
    background: #fff;
    padding: 15px;
    box-shadow: 0 3px 10px #008dd121;
    position: relative;
    overflow: hidden;
}

.apli-design .apl-count span {
    width: 65px;
    height: 65px;

    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    font-size: 34px;
}

.apli-design .apl-count img {
    width: 128px;
    position: absolute;
    right: 0;
    bottom: 0;
    opacity: .2;
}

.applied-job span {
    background: #e8f0fa;
    color: #0278b3;
}

.shor-list span {
    background: rgb(52 168 83 / 10%);
    color: #34A853;
}

.inter-job span {
    background: rgb(217 48 37 / 10%);
    color: #D93025;
}

.reject-list span {
    background: rgb(249 171 0 / 10%);
    color: #F9AB00;
}

.profile-design .form-design {
    padding: 30px 25px !important;
    border: 1px solid #008dd129 !important;
    box-shadow: 0 7px 20px #008dd11a;
}

.apli-design .job-head {
    background: #e8f0fa;
    padding: 10px;
}

.apli-design .job-head h6 {
    margin: 0;
    font-family: "f2";
    color: #008DD2;
}

.com-details img {
    width: 100%;
}

.com-details .job-company h6 {
    font-family: "f2";
}

.com-details .job-company p {
    margin: 0 3px 0;

}

.com-details .job-company span {
    font-size: 20px;
}

.op-des {
    opacity: .8;
}

.job-status h6 {
    color: #F9AB00;
}

.job-status a span {
    color: #348fda;
    background: #e8f0fa;
    padding: 9px;
    border-radius: 5px;
}

.table-border .bor-bot {
    border-bottom: 1px solid #ddd;
}

.failed-design {
    color: #f11606;
}

.meeting-design {
    box-shadow: 0 3px 10px #008dd13d;
    background: #fff;
    padding: 20px 15px;
    border-radius: 10px;

}

.quest-design ul li {
    font-size: 14px;
    margin: 8px 0;
}

.quest-design ul {
    padding-left: 2rem !important;
    list-style: upper-alpha !important;
}

.quest-design h6 {
    height: 40px;
    font-family: "f2";
}

.call-back {
    padding: 30px 25px;
    border: 1px solid #008dd129;
    box-shadow: 0 7px 20px #008dd11a;
    text-align: center;
}

/* dashboard end */
/* recuirt */
.recuit-des h6 {
    margin: 0;
    padding-left: 5px;
    font-family: "f2";
    font-size: 18px;
}

.closed-color h6 {
    background: #ffcdca;
    margin: 0;
    padding: 6px 8px;
    border-radius: 12px;
    text-align: center;
    display: inline-block;
    color: #e40000;

}

.job-status p {
    margin: 0;
}

.subscr-des img {
    width: 100%;
}

.subscr-des {
    padding: 30px 25px;
    border: 1px solid #008dd129;
    box-shadow: 0 7px 20px #008dd11a;
    border-radius: 13px;
}

.my-plan p {
    margin: 0;
    background-color: #008DD2;
    padding: 10px;
    display: inline-block;
    border-radius: 7px;
    color: #fff;
}

.plans-des p {
    font-size: 15px;
    opacity: .7;
    margin: 3px 0;
}

.plans-des h6 {
    font-family: "f3";
    color: #008DD2;
}

/* recuirt end */
/* add post */
.add-post h4{
    color: #008DD2;
    text-align: center;
}
/* add post end */